.button {
  border-width: 0;
  background-color: #1739a5;
  padding: 5px 15px;
  border-radius: 5px;

  cursor: pointer;

  color: white;
  font-size: 1em;
  text-decoration: none;

  &--transparent {
    background-color: transparent;
  }

  &__icon {
    fill: currentColor;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
  }
}

.burger-menu-button {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;

  &__icon {
    fill: currentColor;
    width: 1.5em;
    height: 1.5em;
  }
}
