.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;

  &-column {
    display: flex;
    justify-content: space-between;
    padding: $column-padding;
    width: $column-width;
    box-sizing: border-box;

    // Make the first column fill the whole header
    &:first-of-type {
      width: 100%;
      align-items: center;

      @include bp($breakpoint) {
        width: $column-width;
      }
    }

    // Completly hide the other(s) on mobile ¯\_(ツ)_/¯
    &:not(:first-of-type) {
      display: none;

      @include bp($breakpoint) {
        display: flex;
      }
    }
  }

  .burger-button,
  .button {
    opacity: 0;
    transform: translateY(-$translate-y);
  }
}

.logo {
  background-color: transparent;
  border-width: 0;
  padding: 0;
  margin: 0;
  display: block;
  color: white;
  opacity: 0;
  transform: translateY(-$translate-y);

  &-svg {
    width: 40px;
    fill: currentColor;
  }
}
