.loader {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // pointer-events: none;
  // user-select: none;
  width: 125px;
  height: 125px;
  clip-path: circle(50% at 50% 50%);

  --beforeScaleY: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    transform-origin: 50% 100%;
    transform: scaleY(var(--beforeScaleY));
  }

  &-svg {
    fill: none;
    stroke: white;

    &-path {
      stroke-dasharray: 100px;
      stroke-dashoffset: 100px;
      animation: all 1s ease-out;
    }
  }

  &-percent {
    user-select: none;
    position: absolute;
    font-size: 1.5rem;
    font-variant: tabular-nums;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  &-play-button {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-width: 0;
    cursor: pointer;
    background-color: transparent;
    pointer-events: none;
    opacity: 0;

    &.active {
      pointer-events: all;
    }

    svg {
      fill: $color-bg;
      width: 50%;
      height: 50%;
      transform: translateX(
        5px
      ); // Slightly offset the icon so the button appears more visually balanced
    }
  }
}
